body {
    background: #914f88;}
h1 {
    text-align: center;
    border: 10px solid black;
    padding: 20px;
}
p {
    text-align: center;
    background: #cccccc;
}
em strong {
    color:#de2d2d;
}
#missao {
    font-size: 20px;
}